<h4>Транзакции перемещения товаров</h4>
<br />
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Номер товара</th>
      <th>Наименование товара</th>
      <th>Склад</th>
      <th>Адрес отправки</th>
      <th>Адрес назначения</th>
      <th>Количество</th>
      <th>Дата поступления</th>
      <th>Ответственный</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @relocate_transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.id %></td>
        <td><%= transaction.item.number %></td>
        <td><%= transaction.item.description %></td>
        <td><%= transaction.address.warehouse.name %></td>
        <td><%= transaction.address.name %></td>
        <td><%= transaction.relocated_to.name %></td>
        <td><%= transaction.quantity %></td>
        <td><%= transaction.created_at.strftime("%d-%m-%Y %H:%M") %></td>
        <td><%= transaction.responsible %></td>
      </tr>
    <% end %>
  </tbody>
</table>