<p>
  <%= @relocate.id %>
</p>

<p>
  <%= @relocate.item.try(:number) %>
</p>

<p>
  <%= @relocate.address.try(:name) %>
</p>

<p>
  <%= @relocate.relocated_to %>
</p>

<p>
  <%= @relocate.quantity %>
</p>