<h4>Заказы</h4>
<br />
<table class="table">
  <thead>
    <tr>
      <th>Номер заказа</th>
      <th>Номер товара</th>
      <th>Количество</th>
      <th>Статус</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.item.number %></td>
        <td><%= order.quantity %></td>
        <td><%= order.status %></td>
        <td><%= link_to 'Редактировать', edit_order_path(order) %></td>
        <td><%= link_to 'Отменить', get_order_order_path(order) %></td>
      </tr>
    <% end %>
  </tbody>
</table>