<% if user_signed_in? %>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
      <a class="navbar-brand" href="<%=  %>">Поиск</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Поступление
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to "Поступление товара", new_receipt_path, class: "btn btn-link dropdown-item" %>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <%= link_to "Транзакции", receipt_transactions_receipts_path, class: "btn btn-link dropdown-item" %>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Выдача
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to "Выдача товара", new_expense_path, class: "btn btn-link dropdown-item" %>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <%= link_to "Транзакции", expense_transactions_expenses_path, class: "btn btn-link dropdown-item" %>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Склад
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to "Все склады", warehouses_path, class: "btn btn-link dropdown-item" %>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <%= link_to "Создать склад", new_warehouse_path, class: "btn btn-link dropdown-item" %>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Товар
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to "Все товары", items_path, class: "btn btn-link dropdown-item" %>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <%= link_to "Остатки товаров", stocks_path, class: "btn btn-link dropdown-item" %>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <%= link_to "Создать товар", new_item_path, class: "btn btn-link dropdown-item" %>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.username %>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to "Профиль", user_path(current_user), class: "btn btn-link dropdown-item" %>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <%= button_to "Выйти", destroy_user_session_path, method: :delete, class: "btn btn-link dropdown-item" %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<% end %>
