<h4>Поступление товара</h4>
<br />
<%= form_with model: @receipt, url: receipts_path, method: :post, local: true do |form| %>
  <div class="field">
    <p>
      <%= form.collection_select :item_id, @items, :id, :number, prompt: "Введите номер товара" %>
    </p>
  </div>

  <div class="field">
    <p>
      <%= form.collection_select :address_id, @addresses, :id, :name, prompt: "Введите адрес размещения" %>
    </p>
  </div>

  <div class="field">
    <p>
      <%= form.number_field :quantity %>
    </p>
  </div>
  
  <div class="actions">
    <p>
      <%= form.submit "Создать товар" %>
    </p>
  </div>
<% end %>
