<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= javascript_import_module_tag "receipts" %>
    <%= javascript_import_module_tag "expenses" %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.min.js"></script>

  </head>

  <body>
    <%= render 'include/main_menu', locals: { item: @item } %>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= render 'include/notification' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
